<html>
<head>
    <title>Images to Video - v1.0</title>
    {% load staticfiles %}
    <link href="{% static 'css/spark.css' %}" rel="stylesheet"/>

</head>
<body style="overflow:hidden;">
<div class="container1">
<div class="form-style-5">
    <form>
        <fieldset>
            <legend><span class="number">1</span> Creative Info </legend>
            <label >Input 1:</label>
            <input type="text" name="field1" placeholder="Image 1 *">
            <input type="email" name="field2" placeholder="Text 1 *">
            <label >Input 2:</label>
            <input type="text" name="field1" placeholder="Image 2 *">
            <input type="email" name="field2" placeholder="Text 2 *">
            <label >Input 3:</label>
            <input type="text" name="field1" placeholder="Image 3 *">
            <input type="email" name="field2" placeholder="Text 3 *">

        <fieldset>
            <legend><span class="number">2</span> Additional Info</legend>
            <textarea name="field3" placeholder="About Your School"></textarea>
        </fieldset>
        <input type="submit" value="Apply" />
    </form>
</div>
</div>

</body>
</html>