<html>
<head>
    <title>Mutant</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    {% load staticfiles %}
    <link href="{% static 'css/spark.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/spark.js' %}"></script>
</head>
<body style="background-color:black;">
<div id="head">
    <h2><x id="englishhead" style="color:white;">Mutant</x></h2>
</div>
<div id="loading" style="display:none"></div>
<div class="maincontainer" id="allcontainer">
<div class="container1">
<div class="form-style-5">
    <fieldset>
        <legend><span class="number">-</span> Creative Info </legend>
        <label >Campaign Name :</label>
            <input type="text" name="fieldxa" id="campaignname" placeholder="Campaign Name *" value="Test">
        <br><br><br>
        <label >Asset(s) :</label>
            <div class="inputassets">
                <input type="text" name="field1a" id="image1" placeholder="Image Url 1" value="http://localhost:8000/static/images/landscape.jpg">
                <input type="text" name="field1b" id="text1" placeholder="Text 1" value="hello world">
                <input type="text" name="field1c" id="weight1" placeholder="Weight (in %)" value="100">
                <div id="template1"></div>
                <button class="buttonx" onclick="previewTemplatesForOneAsset(this.id)" id="1" type="submit" ><span>
                    <y id="btnlbla">Pick Template</y></span></button>
            </div>
        <br>
        <img style="width:30px;" src="{% static 'images/add.png' %}" id="add">
        <img style="width:30px; float:right;" src="{% static 'images/minus.png' %}" id="remove">
        <br><br><br>
        <label >Audio Input:</label>
            <input type="text" name="field5" id="audio" placeholder="Audio Url *" value="http://localhost:8000/static/images/inmobilogo.mp3">

        <label >Advertiser Icon URL:</label>
        <input type="text" name="iconurl" id="iconurl" placeholder="Icon Url (32x32)" value="http://localhost:8000/static/images/inmobilogo.png">

        <input type="submit" onclick="createVideo()" value="Generate Video" />
    </fieldset>
</div>
</div>
<div class="container2" >
    <div class="form-style-5">
        <video width="470" height="480" controls>
            <source src="Test.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <input style="margin-top:100px;" type="submit" onclick="previewTemplates()" value="Provide Video URL" />
    </div>
</div>
</div>
</body>
</html>