<!DOCTYPE html>
<html>
   <head>
      <title>center text</title>
      <style>
      #centerdiv {position: relative; width: 480px; height: 320; }
      img.ad{width: 480px; height: 320px; border-radius: 3%; position: relative; top: 0px; opacity: 0.6; }
      img.logo{bottom: 37px; height: 32px; left: 450px; position: relative; width: 32px; }
      #centertext{width: 480px; text-align: center; color: white; font-size: 25px; position: absolute; bottom: 160px; text-shadow: 2px 2px 4px #000000; } </style>
   </head>
   <body>
      <div id="centerdiv">
         <img class="ad" src="$image">
         <img class="logo" src="$iconurl">
         <p id="centertext">$text</p>
      </div>
   </body>
</html>